.hero {
  height: 100vh;
  padding: 9.6rem;
  display: grid;
  background-color: $color-primary;
  grid-template-columns: repeat(auto-fit, minmax(50rem, max-content));
  justify-items: center;
  align-items: center;

  &__text-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__tagline {
    font-size: 2rem;
    color: $color-grey-darkest;
  }

  &__img {
    width: 40vh;
    border-radius: 9px;
    box-shadow: var(--shadow-light-bordered);
  }
}
