.hero {
  height: 100vh;
  padding: 9.6rem;
  // margin-bottom: 8rem;
  display: grid;
  // background-color: $color-primary;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 210, 105, 0.823),
      rgba(240, 184, 52, 0.825)
    ),
    url("../../img/hero-img.webp");
  background-size: cover;
  background-position: center;
  grid-template-columns: repeat(auto-fit, minmax(50rem, max-content));
  justify-items: center;
  align-items: center;
  @include respond(tab-land) {
    row-gap: 4rem;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__tagline {
    font-size: 2rem;
    color: $color-grey-darkest;
    animation: slideUp 500ms ease-out backwards;
    animation-delay: 3500ms;
    margin-bottom: 4rem;
    @include respond(tab-land) {
      margin-bottom: 3rem;
      align-self: center;
    }
  }

  &__img {
    width: 40vh;
    border-radius: 9px;
    box-shadow: var(--shadow-light-bordered);
    @include respond(tab-land) {
      width: 25vh;
    }
  }
}
