.practice__areas {
  padding: 8rem;
  background-color: $color-grey-darkest;

  &--cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, max-content));
    column-gap: 6rem;
    row-gap: 8rem;
  }

  &--card {
    color: $color-white;
    transition: all 500ms;

    &:hover {
      transform: scale(1.1);
      background-color: $color-grey-light;
      border-radius: 11px;
    }

    &:hover .heading__quaternary {
      color: $color-grey-darkest;
    }

    &:hover > * {
      color: $color-grey-darkest;
    }

    &__content {
      padding: 2rem;
    }

    &__content--para {
      font-size: 1.6rem;
      line-height: 1.6;
    }
  }

  &--icon {
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: 2.4rem;
  }
}
