.footer {
  padding: 6rem;
  background-color: $color-grey-darkest;

  &__para {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: $color-primary;
    line-height: 1.7;
  }
  &__span {
    display: inline-block;
    font-weight: 700;
    transition: all 500ms;

    &:hover {
      color: $color-white;
    }
  }
}
