@keyframes slideInLeft {
  0% {
    transform: translateX(-20rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(20rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomInRotate {
  0% {
    opacity: 0;
    transform: scale(0);
    border-radius: 50%;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: scale(0) translateY(0) rotate(360deg);
  }
}
