:root {
  // Fonts
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Playfair Display", serif;

  // Box-shadows
  --shadow-light-bordered: 0 0rem 1rem #222831;
  --shadow-light-bordered-yellow: 0 0rem 1rem #ffd369;
}
