.heading__primary {
  font-family: var(--font-secondary);
  color: $color-grey-darkest;
  font-size: 11.6rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  animation: slideInLeft 700ms ease-out;
}

.heading__secondary {
  display: inline-block;
  font-size: 8rem;
  font-weight: 300;
  color: $color-grey-darkest;
  letter-spacing: -1px;
}
