.margin-bottom-sm {
  margin-bottom: 2rem !important;
}
.margin-bottom-md {
  margin-bottom: 4rem !important;
}
.margin-bottom-lg {
  margin-bottom: 6rem !important;
}
.margin-bottom-xl {
  margin-bottom: 8rem !important;
}

.text__center {
  text-align: center !important;
}

.hidden {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}

.scaled {
  transform: scale(100);
}

.body_hidden {
  display: none;
}
