.margin-bottom-sm {
  margin-bottom: 2rem !important;
}
.margin-bottom-md {
  margin-bottom: 4rem !important;
}
.margin-bottom-lg {
  margin-bottom: 6rem !important;
}
.margin-bottom-xl {
  margin-bottom: 8rem !important;
}
